# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# Git
.git/

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Environment
.env.*

*.pem
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl